body {
    background-color: #bce6eb;
  }
  hr {
    border-style: none; /*the entire style for the border is none */
    border-top-style: dotted; /*except for the top border */
    border-color: white;
    border-width: 10px;/*change the width of my dots*/
    width: 5%;
  }

  h1 {
    color: #214151;
    text-align: center;
    
  }

  h3 {
    color: #214151;
  }
